%html
  %head
    %title
      Twittie.st!
    = embed_amber
    %link{:media => 'screen', :rel => 'stylesheet', :href => '/css/twist.css'}
  %body
    - if Resin.development?
      %div{:style => 'float: right; clear: all'}
        %button{:onclick => "smalltalk.Browser._open();"}
          Run IDE
    %h2
      Be the Twittiest
    %div{:class => 'twist_search', :style => 'float: right; clear: all;'}
      %form{:onsubmit => 'smalltalk.TwistApp._current()._search(); return false;', :name => 'search'}
        %input{:type => 'text', :name => 'q', :id => 'twist_search_box'}/
        %button{:type => 'submit'}
          Search
    %br/
    %br/
    %noscript
      %center
        %div{:class => 'noscript_warning'}
          It appears you have JavaScript disabled. Unfortunately, Twi.st is a JavaScript-heavy
          application. Perhaps
          %a{:href => 'http://www.zombo.com'}<
            this
          better suits your needs?
    %br/
    %div{:id => 'twist_container'}
