%html
  %head
    %title
      Twi.st
    = embed_amber
  %body
    - if Resin.development?
      %div{:style => 'float: right; clear: all'}
        %button{:onclick => "smalltalk.Browser._open();"}
          Run IDE
        %br/
        %button{:onclick => "smalltalk.ChuckRunner._current()._run();"}
          Run Tests
      %br/
    %h1
      Twi.st
    %br/
